<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<header>
    <h1>Link Here</h1>
    <ul>
        <li>
            <p><a href="/">Home</a></p>
            <p><a href="/about">About</a></p>
            <p><a href="/help">Help</a></p>
            <p><a href="/project">Project</a></p>
        </li>
    </ul>
</header>